src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a6ada77e-f97e-4243-beea-dc092e4f18df" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectFlow" doc:id="3b89805f-84b6-47d6-9ed7-cdaaa547ddf9" >
		<http:listener doc:name="Listener" doc:id="a1dc2eef-9b6b-445d-8d64-772560a2f64b" config-ref="HTTP_Listener_config" path="/greetings"/>
		<logger level="INFO" doc:name="Logger" doc:id="49c1443c-5e9a-4270-8e0f-fe6254889be6" message="Request  &gt;&gt;&gt;[#[attributes]"/>
		<ee:transform doc:name="Transform Message" doc:id="cf11c233-0d13-4f5c-b4b3-f30c9293e480" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"HELLO mulesoft " ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d6f4f9f8-4ae1-4693-9091-e546771b4f33" message="response &gt;&gt;&gt;#[payload]"/>
	</flow>
</mule>
